<ion-header>
  <ion-toolbar>
    <ion-title>Login Form</ion-title>
  </ion-toolbar>
</ion-header>


<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" [routerLink]="['/register']"> Sign Up</span></span>
    </div>
  </div>
</div>

<!--

<ion-content padding>
Signup page<br /><br />

  <form class="form" [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button full class="submit-button" type="submit">
      Login
    </ion-button>
    
    <label class="error-message">{{errorMessage}}</label>

    <br>
    <div>
      <p>No account yet? <a (click)="registerAccount()">Create an account</a></p>
    </div>
    <br>

  </form>

<ion-button full type="submit" class="primary facebook-button" (click)="socialLogin('Facebook')">Facebook Login</ion-button><br />
<ion-button full type="submit" class="google-button"  (click)="socialLogin('Google')">Google Login</ion-button>

</ion-content>

-->